* {
    margin: 0;
    padding: 0;
}
.first-section {
    background-color: #1f2937;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header h1 {
    color: #f9faf8;
    font-size: 48px;
    margin: 20px;
}
.header-right ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
}
.header-right li a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
   margin-right: 15px;
}
.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}
.content h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}
.content p {
    color: #e5e7eb;
    font-size: 18px;
}
.content button {
    background-color: #3882f6;
    color: #e5e7eb;
    font-size: 18px;
    padding: 8px;
    border-radius: 8px;
    margin-top: 20px;
}
.content-right img {
    width: 370px;
}
.second-heading h1 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    padding: 20px;
    margin-bottom: 16px;
}
.second-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.projects {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
}