* {
    margin: 0;
    padding: 0;
}
.first-section {
    background-color: #1f2937;
    padding: 20px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header h1 {
    color: #f9faf8;
    font-size: 48px;
    margin: 20px;
}
.header-right ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
}
.header-right li a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
   margin-right: 15px;
}
.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}
.content h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}
.content p {
    color: #e5e7eb;
    font-size: 18px;
}
.content button {
    background-color: #3882f6;
    color: #e5e7eb;
    font-size: 18px;
    padding: 8px;
    border-radius: 8px;
    margin-top: 10px;
}
.content-right img {
    width: 370px;
}
.second-heading h1 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    padding: 20px;
    margin-bottom: 16px;
}
.second-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.projects {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}
.third-page {
    margin-top: 50px;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding: 50px;
}
.qoute p {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: 100;
}
.qoute-author {
    display: flex;
    align-self: flex-end;
}
.forth-page {
    background-color: #3882f6;
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    margin: 35px;
}
.forth-page button {
    background-color: #3882f6;
    color: #fff;
    padding: 10px;
    border-color: #e5e7eb;
    border-radius: 8px;
    width: 140px;
}
footer {
    background-color: #1f2937;
    font-size: 18px;
    color: #e5e7eb;
    padding: 40px;
    text-align: center;
}